@font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url('http://domain.com/fonts/font.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url('http://domain.com/fonts/font.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url('http://domain.com/fonts/font.ttf'); /*URL to font*/
}
svg {
	display: block;
	margin: auto;
}

.calloutgraphs {
	display: inline-block;
}


/*.bubble {

  fill: #64bdff;
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}*/

text {
	font-family: 'Avenir Next';
	font-size: 14px;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.head {
	text-align:center;
	width: 1440px;
}
.headline {
	display:inline-block;
	text-align: center;
	margin-top: 5%;
	width: 650px;

}

h1 {
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 40px;
	text-align: center;

}

h2 {
	font-family: 'Helvetica Neue';
	color: grey;
	font-size: 20px;
	text-align: center;

}

h3 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}
h4 {
	font-family: 'Avenir Next';
	font-size: 14px;

}


h5 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}

.content {
 	margin-top: 30px;
}
.article {
	width: 1440px;
	display: inline-block;
	text-align: center;
}

.tooltip {
	position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 2px;				
    font-family: 'Avenir Next';	
    font-color: black;
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;		
}

.toolTip {
    font-family: 'Avenir Next';
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

.bubbletooltip {
	position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 2px;				
    font-family: 'Avenir Next';	
    font-color: #B33097;
    background: #B33097;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;		
}

.FCOtooltip {
	position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 2px;				
    font-family: 'Avenir Next';	
    background: #C45E2E;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
}


.graph {
	display: block;
	margin-top: 30px;
	text-align: center;
}
p {
	font-family: Garamond;
	font-size: 16px;
	text-align: left;
	display: inline-block;
	padding-left: 460px;
	padding-right: 460px;
	margin-bottom: 20px;
}
input[type="radio"]{
  margin: 0 5px 0 10px;
}
.parentnode circle {

	 fill: #00d0a1;
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}
.leafnode circle {
   
  	fill: #64bdff;
  	fill-opacity: 1;

  stroke: rgb(31, 119, 180);
  stroke-width: 1px;

}


svg.text {
  font: 9px Avenir;
  text-anchor: middle;
}

/*#bubblesgraph {
	height: 600px;
}*/
#statesgraph {
	align: left;
}
.states {
  fill: none;
  stroke: grey;
  stroke-linejoin: round;
}


.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#calloutgraph {
	display: inline-block;
}

.line {
  fill: none;
  stroke: #64bdff;
  stroke-width: 0.5;
  pointer-events: all;
}

.line:hover{
    stroke:steelblue;
    stroke-width: 2;
}

.placecircles {
  fill: #64bdff;
}

path.slice{
	stroke-width:0.5px;
	stroke:white;
}

.forcenode {
  stroke-width: 1.5px;
}


/*bottom two surviving*/
#ballControl {
  float: left;
}

#perspectiveControl {
  float: right;
}

.zero {
  fill: #FF9B3C;
  color: #FF9B3C;

}
.one {
  fill: #00d0a1;
  color: #00d0a1;
}
.two {
  fill: #64bdff;
  color: #64bdff;
}
.three {
  fill: #EF6F6C;
  color: #EF6F6C;
}
.four {
  fill: #987284;
  color: #987284;
}
.five {
  fill: #FC440F;
  color: #FC440F;
}
/*.A.B {
  fill: #FFFF00;
  color: #FFFF00;
  stroke: #FFFF00;
}
.A.C {
  fill: #FF00FF;
  color: #FF00FF;
  stroke: #FF00FF;
}
.B.C {
  fill: #00FFFF;
  color: #00FFFF;
  stroke: #00FFFF;
}
.A.B.C {
  fill: #FFFFFF;
  color: #FFFFFF;
  stroke: #FFFFFF;
}*/

.shelf {
  opacity: 0.5;
}

.border {
  fill: none;
  stroke-width: 5;
}

.label {
  text-anchor: middle;
  stroke-width: 0;
  opacity: 1;
  cursor: text;
}

.ball {
  fill: #000000;
  opacity: 0.75;
  stroke-width: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 2;
  shape-rendering: crispEdges;
}


.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}


